<div class="clearfix filter no-margin-ul">
  <ul>
    <li id="filter" class="coll-filter">Filter
      <ul class="coll-dropdown">
        {% for link in linklists.collections.links %}
          <li class="coll-dropdown-child">
            <a href="{{ link.url }}">
              {{ link.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>  
  </ul>
</div>