<!-- /templates/collection.liquid -->
{% paginate collection.products by 20 %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="wrapper grid--rev">
  <div class="grid__item">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}

      <div class="grid">
        <div class="grid__item large--one-half">
          <h1>{{ collection.title }}</h1>
        </div>
        <div class="grid__item medium--one-half large--one-quarter">
          {% include 'collection-nav' %}
        </div>
        <div class="grid__item medium--one-half large--one-quarter">
          {% include 'collection-sorting' %}
        </div>
      </div>

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform product-grid">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.next %}
        <div id="more" class="product"><p><a href="{{ paginate.next.url }}"></a></p></div>        
    {% endif %}

    <div class="grid-uniform product-grid"><div id="product-list-foot"></div></div>

  </div>
</div>

{% endpaginate %}

