<!-- /templates/page.shipping.liquid -->
<div class="grid">

  <div class="grid__item small--ten-twelfths push--small--one-twelfth medium--ten-twelfths push--medium--one-twelfth large--two-thirds push--large--one-sixth">

    <h1 class="page">{{ page.title }}</h1>

    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="shipping-paragraph">
      <p>Please note as of October we have changed our shipping information to reflect both Australia Post and DHL courier's updated pricing. Customer service and presentation is paramount to us and as a result all Poppy Lissiman orders will now be shipped in custom made boxes/packaging for protection. </p>
    </div>

    <div class="shipping-paragraph">
      <h6>Domestic Orders in Australia:</h6>
      <table class="domestic-table">
        <tr>
          <th>ORDERS UNDER $200 AUD</th>
          <th>ORDERS OVER $200 AUD</th>
        </tr>
        <tr>
          <td>$5 Postage and handling using Standard Australia Post (no tracking) takes 2-5 business days depending on location OR $15 Express Postage via Australia Post takes approx 2 business days.</td>
          <td class="center">FREE</td>
        </tr>
      </table>
    </div>

    <div class="shipping-paragraph">
      <h6>International Customers:</h6>
      <p>All international orders are shipped from Australia using either Australia Post or DHL Express (see below). All orders over $250 AUD will be shipped for <em>FREE</em> using DHL Express couriers. Import taxes, duties and charges are at the cost of the customer. When orders are shipped internationally estimated delivery times may vary due to individual processing procedures, postal services, customs delays and proximity to capital cities.<br>
      For accurate shipping arrival times and more information regarding your shipment please email info@poppylissiman.com</p>
      <table class="international-table">
        <tr>
          <th>Country</th>
          <th>Orders Under $250 AUD</th>
          <th>Orders Over $250 AUD</th>
        </tr>
        <tr>
          <td class="center">United States of America</td>
          <td>$15 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive.</td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Canada</td>
          <td>$16.50 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive. </td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Mexico</td>
          <td>$16.50 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive.</td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">New Zealand</td>
          <td>$15 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-4 business days to arrive. </td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Asia</td>
          <td>$15 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive.</td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Europe</td>
          <td>$16.50 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive.  </td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Russia</td>
          <td>$25 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $40 AUD for DHL Express courier (BUSINESS ADDRESS ONLY - fully tracked) approx 3-7 business days to arrive.  </td>
          <td class="center">FREE</td>
        </tr>
        <tr>
          <td class="center">Rest of the World</td>
          <td>$16.50 AUD for Standard International via Australia Post (no tracking) takes approx 7-30 business days to arrive OR $25 AUD for DHL Express courier (fully tracked) takes approx 2-5 business days to arrive. </td>
          <td class="center">FREE</td>
        </tr>
      </table>
    </div>

    <div class="shipping-paragraph">
      <h6>Inernational Customers:</h6>
      <p>Please note we are not liable for any countries individual customs and taxes incurred once processed, including shipment price variants for all returns and exchanges.</p>
    </div>



  </div>

</div>
